@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login> h1 {
    font-size: 3vw;
    color: #017143 ;
   
}

.left-login-image{
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #80b8a1;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #84bda5ad;
}

.card-login > h1 {
    color: #00351fec;
    font-weight: 800;
    margin: 0;
    letter-spacing: 3px;
}

.mb-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.mb-3 >input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #7ec3a6ad ;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: #84bda5ad ;
    outline: none;
    box-sizing: border-box;
}

.mb-3 > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.mb-3 > input::placeholder {
    color: #f0ffff94;
}



.btn-login {
    width: 25%;
    padding: 15px 0px;
    margin: 37px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.975);
    background: #017143 ;
    cursor: pointer;
    box-shadow: 0px 10px  40px -12px  #84bda5ad;  
    
    
}

 

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}